body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #edf0f5;
}

.titulo {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold
}

#formulario {
    width: 90%;
    margin: 50px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #4f575b;
}

#formulario .titulo-grupo {
    font-weight: bold;
}

#formulario .centrar-texto {
    text-align: center;
}

#formulario .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario .ui-datepicker, #formulario .ui-datascroller-content {
    border: none;
}

#formulario .centrar-horizontal {
    margin: 0 auto;
}

#formulario .ui-button.boton-activo {
    background-color:#DBEEFD;
    color: #2196F3;
    border: 1px solid;
    font-weight: bold;
}

#formulario button.botones-horario {
    width: 200px;
    height: 50px;
    margin: 5px;
}

#formulario .firma {
    width:400px;
    height:200px;
}

#formulario button.botones-firma {
    width: 190px;
    height: 50px;
    margin: 5px;
}

#formulario button.programar {
    width: 400px;
    height: 60px;
    margin: 5px;
}